*.1 linguist-detectable=false
*.2 linguist-detectable=false
*.3 linguist-detectable=false
*.4 linguist-detectable=false
*.5 linguist-detectable=false
*.Lode linguist-detectable=false
*.in linguist-detectable=false

*.1 linguist-language=text
*.2 linguist-language=text
*.3 linguist-language=text
*.4 linguist-language=text
*.5 linguist-language=text
*.Lode linguist-language=text
*.in linguist-language=text


*.c linguist-detectable=true
